*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 800px;
}

header{
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    display: flex;
}

.logo{
    width: 20%;
    height: 100%;
    background-color: aliceblue;
}

.noneBox{
    width: 30%;
    height: 100%;
    background-color: black;
}

nav{
    width: 50%;
    height: 100%;
}

.imgSlide{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}

.content{
    width: 100%;
    height: 300px;
    background-color: aqua;
}

footer{
    width: 100%;
    height: 130px;
    background-color: gray;
}