*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

main{
    width: 100%;
    height: 800px;
    overflow-y: hidden;

}

header{
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    display: flex;
}

.logo{
    width: 200px;
    height: 100%;
    margin-left: 20px;
    font-size: 40px;
    text-align: center;
    line-height: 60PX;
    font-family: 'Kalnia', serif;
}

.noneBox{
    width: 400px;
    height: 100%;
}

nav{
    width: 840px;
    height: 100%;
}

.mainMenu > li {
    font-size: 18px;
    font-weight: 800;
    width:150px;
    height:70px;
    background-color: aliceblue;
    line-height: 70px; 
    text-align: center;
    float: left;
    position: relative;
}

.subMenu{
    width: 150px;
    height: 70px ;
    display:none;
    position: absolute;
    font-size:14px;
    z-index: 1000;
}

.subMenu > li{
    width: 150px;
    height: 70px;
    font-size: 16px;
}

.mainMenu > li:hover > ul{
    display:block;
}

.mainMenu > li > ul > li{
    background-color: aliceblue;
    transition: all 1s;
}

.mainMenu > li > ul> li:hover {
    background: black;
    color: aliceblue;
}


.imgSlide{
    width: 1400px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.window{
    width: 4200px;
    height: 300px;
    position: absolute;
    animation: 6s infinite linear window;
    display: flex;
}

.window li{
    width: 1400px;
    height: 300px;
}

@keyframes window{
    0%{
        left: 0px;
    }

    23%{
        left: 0%;
    }

    33%{
        left: -1400px;
    }

    56%{
        left: -1400px;
    }

    66%{
        left: -2800px;
    }

    90%{
        left: -2800px;
    }

    100%{
        left: -4200px;
    }
}

.content{
    width: 100%;
    height: 300px;
    background-color: aqua;
}

footer{
    width: 100%;
    height: 70px;
    background-color: gray;
}